@import '../styles/vars.scss';
.footer {
  background: $black-background;
  & .inner {
    max-width: 1089px;
    margin: 0 auto;
    padding: 50px 25px 220px;
    display: flex;
    justify-content: space-between;
    @include lg {
      padding: 3.9vw 25px 17vw;
    }
    @include sm {
      flex-direction: column;
      align-items: center;
      padding: 25px 25px 75px;
    }
    & > div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include sm {
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
      }
      & .privacy {
        & a {
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}
